<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.ChartMapper">

    <select id="getStudentByStuStatusdDstribution" resultType="map">
        select StuStatus,count(Id) as num from students GROUP BY StuStatus
    </select>

    <select id="getStudentSourceChannel" resultType="map">
        select MsgSource,count(Id) as num from students GROUP BY MsgSource
    </select>

    <select id="getStateDstribution" resultType="map">
        select PerState , count(Id) as num from students GROUP BY PerState
    </select>

    <select id="getIsplayDstribution" resultType="map">
        select  IsPay ,count(Id) as num from students group by IsPay
    </select>

    <select id="getAddressDstribution" resultType="map">
        select  IFNULL(Address,"未填写") as 'Address' ,count(Id) as num from students GROUP BY Address
    </select>
</mapper>