<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.RoleModuleMapper">

    <insert id="addRoleModules" parameterType="list">
      INSERT INTO rolemodules(Id, RoleId, ModuleId) VALUES
      <foreach collection="list" item="item" separator=",">
        (#{item.id},#{item.roleId},#{item.moduleId})
      </foreach>
    </insert>

    <delete id="deleteRoleModules">
      delete from rolemodules where RoleId=#{roleId}
    </delete>

</mapper>